body{
    font-family:"Roboto", sans-serif;
}
.content {
    display: flex;
    flex-direction: column;
    padding:0;
}
img {
    width: 300px;
    height: 200px;
    border-radius: 10px;
}
.section1,
.footer {
    background-color: #1F2937;  
}
.hero{
    font-size:48px;
    font-weight: 900;
    color: #F9FAF8;
}
.header,
.text{
    font-size: 18px;
    color: #9a9ca0;
}
a {
    text-decoration: none;
    color: #E5E7EB;
}
ul {
    list-style-type: none;
    gap: 32px;
}
.right-links {
    display: flex;
    flex-direction: row;
}
.logo {
    font-size: 24px;
    color: #F9FAF8;
}
.signup,
.register {
    color: white;
}
button,
.modal {
    background-color: #3882F6;
    border-radius: 5px;
    
    
}
.title {
    font-size: 36px;
    font-weight: 900;
    color:#1F2937;
}
.ad {
    background-color: #E5E7EB;
}
.quote {
    font-size: 36px;
    font-style: light italic;
    color: #1F2937;
}
.section1 {
    display: flex;
    flex-direction: column;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 12px 112px 112px 112px;
}
.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.intro {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 56px 112px 112px 112px;
    max-width: 500px;
}
.register {
    
    width: 80px;
}
.bird {
    display: flex;
    align-items: flex-start;
    margin: 56px 112px 56px 0px;
    max-width: 600px;
}
#init {
    width: 480px;
    height: 240px;
}
.title {
    text-align: center;
    margin: 56px 0px;
}
.main-content{
    display:flex;
    justify-content: center;
    gap: 24px;
    margin-bottom: 56px;
}
.box {
    max-width: 200px;
    padding: 56px;
}
.ad {
    text-align: center;
    display:flex;
    flex-direction: column;
    align-items:center;
}
.quote {
    display: flex;
    max-width: 1080px;
    padding: 52px;
    
}
.section4 {
    display: flex;
    justify-content: center;
}

.modal {
    width: 1060px;
    display: flex;
    gap: 24px;
    padding: 32px;
    margin: 48px;
    justify-content: space-around;
    align-items: center;
}
.signup {
    min-height: 32px;
    min-width: 124px;
    border-color:white;
}
.heading {
    font-size: 24px;
}
p {
    font-size: 16px;
}
.footer {
    display: flex;
    justify-content: center;
    padding: 24px;
    color: white;   
}