body{
    font-family:"Roboto", sans-serif;
}
.content {
    display: flex;
    flex-direction: column;
    padding:0;
}
.section1,
.footer {
    background-color: #1F2937;  
}
.hero{
    font-size:48px;
    font-weight: 900;
    color: #F9FAF8;
}
.header,
.text{
    font-size: 18px;
    color: #9a9ca0;
}
a {
    text-decoration: none;
    color: #E5E7EB;
}
ul {
    list-style-type: none;
}
.logo {
    font-size: 24px;
    color: #F9FAF8;
}
button,
.modal {
    background-color: #3882F6;
}
.title {
    font-size: 36px;
    font-weight: 900;
    color:#1F2937;
}
.ad {
    background-color: #E5E7EB;
}
.quote {
    font-size: 36px;
    font-style: light italic;
    color: #1F2937;
}
.section1 {
    display: flex;
    flex-direction: column;
}
.header {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.container {
    display: flex;
    justify-content: column;
}
.title {
    text-align: center;
    margin: 32px 0;
}
.main-content{
    display:flex;
    justify-content: center;
    gap: 24px;
}
img {
    width: 300px;
    height: 200px;
}
.box {
    max-width: 300px;
}
.ad {
    text-align: center;
    display:flex;
    flex-direction: column;
    justify-content: center;
}
.quote {
    display: block;
}
.section4 {
    display: flex;
    justify-content: center;
}

.modal {
    width: 1060px;
    border-radius: 5px;
    display: flex;
    gap: 24px;
    padding: 12px;
    margin: 48px;
}
.footer {
    display: flex;
    justify-content: center;
    padding: 24px;
    
}